[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
pytest = "*"
numpy = "*"
requests = "*"
flake8 = "*"

[requires]
python_version = "3.7"

[scripts]
'unit-test' = 'python -m pytest tests/unit/'
'e2e-test' = 'python -m pytest tests/test_e2e.py'
'start' = 'uvicorn main:app --reload'
'linter' = 'flake8 .'
